

services:
  web:
    build: .
    container_name: budgetly_web
    command: gunicorn expenseproject.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always
